*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--border-colour: #ccc;

	font-size: 1.25rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	line-height: 1.6;
}

body {
	padding: 1rem;
	text-wrap: balance;
	-webkit-font-smoothing: antialiased;
}

:focus {
	outline-width: 3px;
}

@keyframes move-bg {
	from { background-position: 0% 0% }
	to { background-position: 200% 0% }
}

@keyframes move-bg-visited {
	from { background-position: 0% 0% }
	to { background-position: 200% 0% }
}

a {
	text-decoration: none;
	position: relative;
}

a:hover {
	text-decoration: none;
}

a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 0.3em;
	background-size: 0.4em;
	background-repeat: repeat-x;
	-webkit-animation: move-bg 30s linear infinite;
	animation: move-bg 30s linear infinite;
}

a:hover::after {
	background-image: url('./img/underline.svg');
	
}


h1, h2, h3 {
	font-weight: 700;
	line-height: 1.2;
	margin-block-end: 0.4em;
}

h1 {
	font-size: 3rem;
	margin-inline-start: -0.05em;
	line-height: 1;
}

p + ul,
p + ol {
	margin-block-start: -0.5em;
}

li + li {
	margin-block-start: 0.25em;
}

.flag {
	width: 1em;
	height: auto;
	vertical-align: middle;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.input-group {
	margin-block-end: 1.5em;
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0.5rem 1rem;
	display: block;
	width: 100%;
	border: 1px solid var(--border-colour);
}

input[type="search"] {
	background-image: url('./img/search.svg');
	background-repeat: no-repeat;
	background-position: left 0.5rem center;
	background-size: 1.5em;
	padding-inline-start: 2.5rem;
}

.container {
	max-width: 60rem;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.list-inline {
	list-style: none;
	padding-inline-start: 0;
}
.list-inline li {
	display: inline-block;
	margin-inline-end: 0.75em;
}
.list-inline li:last-child {
	margin-inline-end: 0;
}
.muted, a.muted, .muted a {
	color: #666;
}

.mt-4 {
	margin-block-start: 4em;
}

.mb-4 {
	margin-block-end: 4em;
}

.my-4 {
	margin-block-start: 4em;
	margin-block-end: 4em;
}

#sites {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sites li {
	width: 100%;
	padding: 0.5em 0;
	border-top: 1px solid var(--border-colour);
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#sites li:last-child {
	border-bottom: 1px solid var(--border-colour);
}

#sites li * {
	white-space: nowrap;
}

#sites li:before {
	content: '' / 'Canada flag';
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	background-image: url('./img/flag.png');
	background-size: 1em;
	background-position: center;
	background-repeat: no-repeat;
	margin-inline-end: 0.5em;
	font-size: 0.85em;
}
#sites li + li {
	margin-block-start: 0;
}

details {
	border: 1px solid transparent;
	border-width: 1px 0 0 1px;
	padding: 1rem 0;
	font-size: 0.9rem;
	interpolate-size: allow-keywords;
	transition: padding 200ms ease;
}

details::details-content {
	block-size: 0;
	transition: content-visibility, block-size;
	transition-duration: 200ms;
	transition-behavior: allow-discrete;
	overflow: hidden;
}

details[open] {
	padding: 1rem;
	border-color: var(--border-colour);
}

details[open]::details-content {
	block-size: auto;
}

summary {
	font-size: 1.17em;
	font-weight: 700;
	cursor: pointer;
}



pre {
	font-size: 0.9em;
	background-color: #ddd;
	padding: 0.25em 0.5em;
	margin: 0;
	border-radius: 0.125em;
	word-wrap: break-word;
	word-break: break-all;
}

footer p,
footer ul {
	font-size: 0.7em;
}

@media (min-width: 600px) {
	:root {
		font-size: 1.75rem;
	}
}

@media (min-width: 1200px) {
	body {
		margin: 1rem;
		padding: 3rem;
		border: 1px solid var(--border-colour);
		border-width: 1px 0 0 1px;
	}

	h1 {
		font-size: 5rem;
	}

	.lede {
		font-size: 1.4em;
	}
	
	#sites {
		font-size: 1.5rem;
	}
}

@media (prefers-reduced-motion) {
	a:hover::after {
		animation-play-state: paused;
	}
	
	details, details::details-content {
		transition: none
	}
}